{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{asset("css/style.css")}}">
<div class="card-wrapper">
<div class="cardo">
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ user.adresse }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ user.ville }}</td>
            </tr>
            <tr>
                <th>Cp</th>
                <td>{{ user.cp }}</td>
            </tr>
            <tr>
                <th>TypeClient</th>
                <td>{{ user.typeClient }}</td>
            </tr>
        </tbody>
    </table>

   
    <div class="rien" style="padding:5px"></div>
    <a href="{{ path('app_user_crud_edit', {'id': user.id}) }}"class="btn">Modifier</a>
    <div class="rien" style="padding:5px"></div>
    {{ include('user_crud/_delete_form.html.twig') }}

     <a href="{{ path('app_user_crud_index') }}">
     <div class="icon">
			<script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
			<lord-icon src="https://cdn.lordicon.com/qhaguvvs.json" trigger="hover" style="width:50px;height:50px"></lord-icon>
	    </div>
    </a>

</div>
</div>
{% endblock %}
